.hero {
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    font-size: 46px;
    font-weight: 800;
    color: #053564;
    max-width: 79%;
    span {
      color: #0072ff;
    }
  }
  .hero_content {
    input {
      width: 210px;
      background: #ffffff;
      border: 1.75053px solid #053564;
      border-radius: 5px 0 0 5px;
      padding: 13px 50px 15px 15px;
      color: #838383;
      font-weight: 500;
      outline: none;
    }
    .hero_btn {
      height: 48px;
      width: 235px;
      background: #053564;
      border-radius: 0px 5px 5px 0px;
      color: #ffffff;
      font-weight: 700;
    }
    h5 {
      color: #031838;
      font-size: 18px;
      max-width: 90%;
    }
  }
  .down_arrow {
    img {
      cursor: pointer !important;
      -webkit-animation: scale-up-center 2s ease-in infinite alternate-reverse;
      animation: scale-up-center 2s ease-in infinite alternate-reverse;

      @-webkit-keyframes scale-up-center {
        0% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.25);
          transform: scale(1.25);
        }
      }
      @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.25);
          transform: scale(1.25);
        }
      }
    }
  }
  .hero_social {
    background: #ffffff;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  .line {
    width: 116px;
    height: 5px;
    background: #0072ff;
    border-radius: 15px;
  }
}

@media (max-width: 1199px) {
  .hero {
    h1 {
      font-size: 34px;
    }
    .hero_content {
      input {
        width: 140px;
      }
      .hero_btn {
        width: 185px;
        font-size: 12px;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 899px) {
  .hero {
    position: relative;
    .down_arrow {
      position: absolute;
      bottom: 22%;
    }
    h1 {
      font-size: 34px;
      max-width: 100%;
      text-align: center;
    }
    .hero_content {
      input {
        width: 140px;
      }
      .hero_btn {
        width: 185px;
        font-size: 12px;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 599px) {
  .hero {
    position: relative;
    .down_arrow {
      img {
        width: 50px;
      }
      position: absolute;
      bottom: 29%;
    }
    h1 {
      font-size: 30px;
      max-width: 100%;
      text-align: center;
    }
    .hero_content {
      input {
        width: 200px;
        border-radius: 5px;
      }
      .hero_btn {
        width: 185px;
        font-size: 12px;
        border-radius: 5px;
        margin-top: 15px;
      }
      h5 {
        font-size: 16px;
      }
    }
  }
}
