.why-wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 140px;
    margin-top: 70px;
    h2{
        font-family: 'Raleway';
        font-size: 40px;
        font-weight: 800;
        line-height: 47px;
    }
    .icon-text{
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        row-gap: 15px;
        margin-top: 40px;
    }
}