.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  min-height: 395px;
  max-width: 830px;
  padding: 0px 50px;
  justify-content: center;
  border-radius: 6px;
}
.modalWrapper {
  display: flex;
  align-items: center;
  position: relative;
  .cancelModal {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25px, -30px);
    font-size: 30px;
    color: #6c6c6c;
    cursor: pointer;
  }
  .modalContent {
    h4 {
      max-width: 340px;
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 23px;
      line-height: 30px;
      color: #031838;
      margin-bottom: 10px;
    }
    h6 {
      max-width: 315px;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: #6c6c6c;
    }
    form {
      margin-top: 30px;
      input {
        font-family: "Raleway", sans-serif;
        font-size: 14px;
        font-weight: 500;
        padding: 15px;
        min-width: 300px;
        background: #f6f6f6;
        border: 1px solid #d0d0d0;
        border-radius: 6px;
        &::placeholder {
          color: #838383cc;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        min-width: 332px;
        background-color: #0072ff;
        color: #ffffff;
        padding: 12px;
        margin-top: 14px;
        border-radius: 6px;
      }
    }
  }
}
