.streamLine-wrapper{
    background: #031838;
    margin-bottom: 43px;
.streamLine-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 41px 0px;
    max-width: 916px;
    margin: 0 auto;
    h2{
        font-weight: 800;
        font-family: 'Raleway';
        font-size: 40px;
        line-height: 47px;
        text-align: center;
        color: #FFFFFF;
        margin-bottom: 37px;
        @media screen and (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 20px;
        }
        @media screen and (max-width: 428px) {
            font-size: 25px;
            margin-bottom: 20px;
        }
    }
    .streamLine-btn{
        background: #0072FF;
        font-family: 'Raleway';
        font-size: 24px;
        font-weight: 700;
        color: #FFFFFF;
        padding: 5px 55px;
        text-transform: none;
        @media screen and (max-width: 768px) {
            padding: 3px 45px;
            font-size: 20px;
        }
        @media screen and (max-width: 428px) {
            padding: 5px 35px;
            font-size: 15px;
        }
    }
}
}