.comment-head {
  margin: 78px 0px 40px 0px;
  @media screen and (max-width:992px) {
    margin: 30px 0px 20px 0px;
  }

  h1 {
    font-family: "Poppins";
    font-weight: 800;
    font-size: 47px;
    text-align: center;
    color: #611f69;
    @media screen and (max-width:992px) {
      font-size: 40px;
    }
    @media screen and (max-width:568px) {
      font-size: 30px;
    }
  }
}

.comment-line {
  text-align: center;
  margin-bottom: 40px;

  span {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 20px;
    color: #6c6c6c;
    @media screen and (max-width:992px) {
      font-size: 17px;
    }
    @media screen and (max-width:568px) {
      font-size: 15px;
    }
  }
}

.commentField {
  display: flex;
  flex-direction: column;
  max-width: 860px;
  margin: 0 auto;
  textarea {
    resize: vertical;
    padding: 10px;
  }
  .name-email {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    @media screen and (max-width:568px) {
      flex-direction: column;
      row-gap: 20px;
    }
    .name {
      display: flex;
      flex-direction: column;
      min-width: 48%;
      input {
        min-height: 40px;
        padding: 0px 10px;
      }
    }
    .email {
      display: flex;
      flex-direction: column;
      min-width: 48%;
      input {
        min-height: 40px;
        padding: 0px 10px;
      }
    }
  }
  .webField {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    input {
      min-height: 40px;
      padding: 0px 10px;
    }
  }
  .check {
    display: flex;
    column-gap: 10px;
    margin-top: 15px;
    label{
      @media screen and (max-width:568px) {
        font-size: 15px;
      }
    }
  }
  .btn-comment {
    display: flex;
    align-self: flex-start;
    background-color: #611f69;
    border-radius: 30px;
    font-family: "Poppins",sans-serif;
    color: white;
    margin: 30px 0px;
    padding: 15px 20px;
    &:hover {
      color: white;
      background-color: #611f69;
    }
  }
}
