.contactPage {
  padding: 60px 40px 0px 40px;
  @media screen and (max-width: 768px) {
    padding: 10px 40px 0px 40px;
  }
  @media screen and (max-width: 428px) {
    padding: 10px;
  }

  .contactBanner {
    img {
      object-fit: cover;
      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.contactBG{
  background-image: url(../images/pagesBG.svg);
  background-position: center;
  background-size: contain;
  padding-bottom: 50px;
  @media screen and (max-width:768px) {
      background-image: none;
  }
}

.contactHead {
    max-width: 1152px;
    margin: 0px auto;
    padding: 0px 40px;
  h1 {
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #611f69;
    line-height: 57px;
    @media screen and (max-width: 992px) {
      font-size: 35px;
    margin-top: 30px;
    }

    @media screen and (max-width: 428px) {
      font-size: 25px;
    }
  }

  .emailInfo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 40px;
    @media screen and (max-width: 992px) {
      margin-top: 0px;
    }
    span {
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 28px;
      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
  
      @media screen and (max-width: 428px) {
        font-size: 15px;
      }
    }
  }
  
  .phoneInfo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 50px;
    span {
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      font-weight: 400;
      line-height: 28px;
      @media screen and (max-width: 992px) {
        font-size: 18px;
      }
  
      @media screen and (max-width: 428px) {
        font-size: 15px;
      }
    }
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    input {
      padding: 13px 18px;
    }
    textarea {
      padding: 13px 18px;
    }
    .contactBtn {
      font-family: "Poppins", sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 21px;
      background-color: #611f69;
      color: #fbf7ee;
      max-width: 160px;
      border-radius: 40px;
      padding: 15px;
      &:hover {
        background-color: #611f69;
      }
    }
  }
}


.from-error{
  color: #e61f1f !important;
}