.pricingPage{
    padding: 60px 40px 100px 40px;
    @media screen and (max-width:768px) {
        padding: 10px 40px 50px 40px;
    }
    @media screen and (max-width:428px) {
        padding: 10px;
    }

    .pricingBanner{
        img{
            object-fit: cover;
            width: 100%;
            @media screen and (max-width:768px) {
                display: none;
            }
        }
    }

    .pricingHead{
        margin-top: 60px;
        @media screen and (max-width:768px) {
            margin-top: 30px;
        }
        h1{
            font-size: 47px;
            font-family: "Poppins",sans-serif;
            line-height: 55px;
            font-weight: 700;
            color: #611F69;
            margin-bottom: 50px;
            @media screen and (max-width:992px) {
                font-size: 35px;
            }
            @media screen and (max-width:428px) {
                font-size: 25px;
            }
        }
    }
}

.fractionBox{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
    flex-wrap: wrap;
    @media screen and (max-width:992px) {
        row-gap: 30px;
    }
}