$FontFamily: "Raleway";

.termContainer {
    padding: 2.5rem 0rem;
    .heading{
        font-family: $FontFamily;
        font-weight: 800;
        font-size: 46px;
        text-align: center;
        color: #031838;
    }
    .headWrap {
        font-family: $FontFamily;
        font-weight: 800;
        font-size: 40px;
        line-height: 47px;
        color: #031838;
        padding: 1rem 0rem;
    }
    .descWrap {
        font-family: $FontFamily;
        font-size: 19.5px;
        line-height: 31px;
        color: #031838;
    }
}