.searchField{
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    .searchInput{
        min-width: 407px;
        border: 1.5px solid #838383;
        border-radius: 40px;
        padding: 10px;
        font-family: "Poppins",sans-serif;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
        @media screen and (max-width:428px) {
            min-width: auto;
        }
    }
}

.popularBlog{
    margin-top: 23px;
    h1{
        font-family: "Poppins",sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #611F69;
    }
}

.filterContent{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    h1{
        font-family: "Poppins",sans-serif;
        font-size: 15px;
        font-weight: 700;
        color: #611F69;
        line-height: 20px;
    }
    span{
        font-family: "Poppins",sans-serif;
        font-weight: 500;
        font-size: 10px;
        line-height: 15px;
        color: #838383;
        font-style: italic;
    }
}
