$fontFamily: "Raleway";
.cardContainer {
    width: 355px;
    min-height: 300px;
    background: #FFFFFF;
    border-radius: 11.2653px;
    padding: 2rem 1.5rem 1rem 1.5rem;
    box-shadow: 5px 7px 28px #d2d1d1;
    z-index: 1;

    .heading {
        h3{
            font-family: $fontFamily;
        font-size: 19px !important;
        font-weight: 800;
        line-height: 22px;
        color: #031838;
        }
    }
    .desc {
        font-family: $fontFamily;
        font-size: 16px !important;
        font-weight: 400;
        line-height: 22px;
        color: #031838;
    }

}

@media (max-width:991px){
    .cardContainer{
            width: 80%;
            min-height: 240px;
            margin: 20px 0;
         }
}