.signupContainer {
    background-color: #F5F5F5;
    position: relative;
    padding: 3rem 0rem 8rem 0rem;
    .featureLeft {
        position: absolute;
        top: 2%;
    }
    .featureRight {
        position: absolute;
        right: 0;
        bottom: 8%;
    }
    .signupCard {
        background: #FFFFFF;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        padding: 54px;
        max-width: 400px;
        margin: auto;
        position: relative;
        z-index: 2;
        .headText{
            font-weight: 800;
            font-size: 32px;
            line-height: 38px;
            color: #031838;
        }
        .desc {
            font-weight: 500;
            font-size: 14px;
            line-height: 23px;
            color: #6C6C6C;
        }
        .workspaceBtn{
            background: #0072FF;
            border-radius: 5px;
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            color: #FFFFFF;
            width: 241px;
            height: 50px;
            border: none;
            outline: none;
            cursor: pointer;
        }
        .findBtn {
            width: 241px;
            height: 50px;
            border: 1px solid #000000;
            background: transparent;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;
            font-size: 15px;
            text-align: center;
            color: #031838;
        }
        .inputLaunchWrapper {
            max-width: 400px;
            border: 1px solid #000000;
            border-radius: 5px;
            padding: 0.5rem;
            .launchInput {
                border: none;
                width: 280px;
                height: 30px;
                outline: none;
                &::placeholder {
                    font-weight: 700;
                    font-size: 18px;
                    color: #031838;
                }
            }
            .launchBtn{
                width: 87px;
                height: 33px;
                background: #0072FF;
                border-radius: 5px;
                font-weight: 500;
                font-size: 15px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
                outline: none;
                border: none;
            }
        }
    }
}