$fontFamily: "Raleway";
.innerBlog {
  margin: 100px;
  img {
    width: 100%;
    height: auto;
    margin: 25px 0;
  }
  padding-top: 50px;

  .innerBlog_content {
    padding: 0 50px;
    h1 {
      font-family: $fontFamily;
      color: #031838;
      font-size: 44px;
      font-weight: 800;
    }
    h2 {
      font-family: $fontFamily !important;
      color: #031838;
      font-size: 44px;
      font-weight: 800;
    }
    h3 {
      color: #031838;
      font-size: 18px;
      font-weight: 500;
      font-family: $fontFamily !important;
    }
    p {
      color: #031838;
      font-size: 13px;
      font-family: $fontFamily !important;
    }
    ul {
      li {
        color: #031838;
        font-size: 13px;
        font-family: $fontFamily !important;
      }
    }
    .list {
      padding-top: 20px;
    }
    .textarea {
      width: 100%;
      height: 177px;
      padding-top: 10px;
      padding-left: 10px;
      border: 1px solid #838383;
      border-radius: 5px;
      background: #f5f5f5;
      outline: none;
      font-family: $fontFamily;
    }
    input {
      width: 100%;
      height: 34px;
      background-color: #f5f5f5;
      border: 1px solid #838383;
      border-radius: 5px;
      margin-top: 5px;
      padding-left: 10px;
      outline: none;
      font-family: $fontFamily;
    }
    .checkbox {
      width: 15px;
      height: 15px;
      border: 1px solid #031838;
      border-radius: 2px;
      background-color: #f5f5f5;
    }
    .check_label {
      padding-left: 3px;
      margin-top: 2px;
    }
    .innerBlog_btn {
      color: #0072ff;
      border: 1.01681px solid #0072ff;
      border-radius: 5.08403px;
      width: 135px;
      height: 35px;
      font-weight: 600;
      font-size: 12.5207px;
    }
  }
}

@media (max-width: 1199px) {
  .innerBlog {
    .innerBlog_content {
      h2 {
        font-size: 36px;
      }
    }
  }
}
@media (max-width: 992px) {
  .innerBlog {
    padding-top: 35px;
    .innerBlog_content {
      padding: 0 0;
      h2 {
        font-size: 30px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 768px) {
  .innerBlog {
    margin: 50px;
    padding-top: 25px;
    .innerBlog_content {
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .innerBlog {
    margin: 0px;
    padding-top: 25px;
    .innerBlog_content {
      h2 {
        font-size: 22px;
      }
      h3 {
        font-size: 16px;
      }
    }
  }
}
