.productivityContainer {
    background: #0072FF;
    text-align: center;
    padding: 2rem 0rem;
    .head {
        font-weight: 800;
        font-size: 40px !important;
        line-height: 47px;
        text-align: center;
        color: #FFFFFF;
    }
    .btnWrap {
        width: 293px;
        height: 56px;
        background: #FCB92B;
        border-radius: 5px;
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        color: #031838;
    }
}