.faqBack {
  background-image: url(../../images/communicatbg.svg);
  padding: 100px 0px 0px 0px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 650px;
  @media screen and (max-width: 768px) {
    background-image: none;
  }
  @media screen and (max-width: 576px) {
    padding: 50px 0px 0px 0px;
    min-height: 600px;
  }
  @media screen and (max-width: 428px) {
    background-image: none;
    padding: 50px 0px;
  }
}

.faq-heading {
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 55px;
    line-height: 74px;
    text-align: center;
    margin-bottom: 50px;
    @media screen and (max-width: 1100px) {
      font-size: 45px;
    }
    @media screen and (max-width: 992px) {
      font-size: 40px;
    }
    @media screen and (max-width: 768px) {
      font-size: 35px;
    }
    @media screen and (max-width: 568px) {
      font-size: 25px;
      margin-bottom: 25px;
      line-height: 35px;
    }
  }
}

// Page FAQ
.faqPage {
  padding: 60px 40px 0px 40px;
  @media screen and (max-width: 476px) {
    .faqPage {
      padding: 35px 0px 5px 0px;
      width: 400px;
    }
  }
  .faqBanner {
    img {
      object-fit: cover;
      width: 100%;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

.faqBG {
  background-image: url(../../images/pagesBG.svg);
  background-position: center;
  background-size: contain;
  // padding-bottom: 50px;
  background-repeat: no-repeat;
  min-height: 650px;
  @media screen and (max-width: 768px) {
    background-image: none;
    min-height: 550px;
  }
}

.viewMore {
  display: flex;
  max-width: 780px;
  margin: 0 auto;
  align-items: center;
  @media screen and (max-width: 1100px) {
    max-width: 700px;
  }
  @media screen and (max-width: 992px) {
    max-width: 600px;
  }
  @media screen and (max-width: 768px) {
    max-width: 500px;
  }
  @media screen and (max-width: 568px) {
    max-width: 400px;
  }
  @media screen and (max-width: 428px) {
    max-width: 300px;
  }
  h6 {
    font-family: "Poppins";
    font-style: italic;
    text-decoration: underline;
    color: #6c6c6c;
    @media screen and (max-width: 992px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
}

.faqHeadingPage {
  max-width: 1152px;
  margin: 0px auto 40px;
  padding: 20px 40px;
  @media screen and (max-width: 768px) {
    margin: 0px auto 30px;
  }
  h1 {
    font-size: 47px;
    font-family: "Poppins", sans-serif;
    line-height: 55px;
    color: #611f69;
    font-weight: 700;
    @media screen and (max-width: 568px) {
      font-size: 35px;
    }
    @media screen and (max-width: 428px) {
      font-size: 25px;
    }
  }
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0px !important;
}

.css-tgo18q-MuiButtonBase-root-MuiAccordionSummary-root{
  @media screen and (max-width:428px) {
    padding: 0px 10px !important;
  }
}
