.freeTrial-wrapper {
  margin-top: 100px;
  background-image: url("../../Assets/images/Subtract.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 33px 0px;
  .freeTrial-content {
    h2 {
      font-family: "Raleway";
      font-weight: 800;
      font-size: 40px;
      line-height: 47px;
      text-align: center;
      color: #ffffff;
      @media screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media screen and (max-width: 428px) {
        font-size: 25px;
      }
    }
  }
  .freeTrial-form {
    margin-top: 23px;
    @media screen and (max-width: 768px) {
      font-size: 20px;
    }
    form {
      display: flex;
      justify-content: space-between;
      border: 1px solid #ffffff;
      max-width: 552px;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        max-width: 430px;
      }
      @media screen and (max-width: 428px) {
        max-width: 300px;
      }
      input {
        min-width: 350px;
        border: none;
        background: none;
        font-family: "Raleway";
        font-size: 14px;
        color: #ffffff;
        outline: none;
        padding-left: 15px;
        @media screen and (max-width: 768px) {
          min-width: 235px;
          font-size: 13px;
        }
        @media screen and (max-width: 428px) {
          min-width: 160px;
          font-size: 10px;
        }
        &::placeholder {
          color: #ffffff;
        }
      }
      .freeTrial-form-btn {
        background: #ffffff;
        color: #0072ff;
        font-weight: 600;
        font-size: 15px;
        font-family: "Raleway";
        text-transform: none;
        padding: 8px 32px;
        border-radius: 0px;
        @media screen and (max-width: 768px) {
          padding: 8px 20px;
          font-size: 13px;
        }
        @media screen and (max-width: 428px) {
          padding: 8px 15px;
          font-size: 10px;
        }
      }
    }
  }
}

.BlogPage {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 80px;
  @media (max-width: 899px) {
    row-gap: 60px;
  }
}

// pagination on blogpage
.paginationWrapper {
  max-width: 610px;
  margin: 10px auto;
  .item a {
    align-items: center;
    color: #4c5b72b2;
    cursor: pointer;
    display: flex;
    font-size: 20px;
    font-weight: 600;
    height: 40px;
    justify-content: center;
    min-width: 30px;
    max-height: 30px;
    background: transparent;
    border-radius: 5px;
    padding: 4px 8px 8px 8px;
    // border: 1px solid #e5e7eb;
    &:hover {
      background-color: #45556d1a;
      color: #4c5b72b2;
    }
  }

  .disabled-page {
    border-radius: 5px;
    color: #263238;
  }

  .active a {
    background-color: #0072ff;
    border-radius: 5px;
    color: #ffffff;
    &:hover {
      background-color: #0072ff;
      color: #ffffff;
    }
  }

  .next a {
    font-size: 4px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(20%);
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    border: none;
    svg {
      fill: #4c5b72b2;
    }
    &:hover {
      background-color: #45556d1a;
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    flex-direction: row;
    height: 60px;
    list-style-type: none;
    position: relative;
    min-width: 300px;
    padding: 0;
  }

  .pagination_page {
    font-weight: 500;
  }

  .previous a {
    font-size: 4px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(20%);
    background: transparent;
    border-radius: 10px;
    padding: 5px;
    border: none;
    svg {
      fill: #4c5b72b2;
    }
    &:hover {
      background-color: #45556d1a;
    }
  }
}
