$fontFamily: "Raleway";

.blog {
    .main_flex{
        display: flex;
    }
    a{
        text-decoration: none;
    }
    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
    position: relative;
    z-index: 1;
    .blog_bg {
        position: absolute;
        z-index: -1;
        top: 0;
    }
    h4 {
        font-family: $fontFamily;
        font-size: 42px;
        font-weight: 800;
        color: #031838;
    }
    h5 {
        font-family: $fontFamily;
        font-size: 18px;
        font-weight: 500;
        color: #031838;
    }
    .blog_btn {
        width: 181px;
        height: 56px;
        background: #0072ff;
        border-radius: 5px;
        text-transform: capitalize;
        color: #ffffff;
        font-size: 19px;
        font-family: $fontFamily;
    }
    .blog_btn:hover {
        background: #0072ff;
    }
    .card {
        border-radius: 5px;
        background-color: #f5f5f5 !important;
        // .card_body:hover {
        //     background-color: white;
        // }
        .card_body {
            background-color: #f5f5f5 !important;
            min-height: 220px;
            position: relative;
            h6 {
                font-family: $fontFamily;
                font-size: 20px;
                font-weight: 800;
                color: #031838;
                line-height: 25px;
                height: 70px;
            }
            .two_heading{
                height: 70px;
            }
            h1 {
                font-family: $fontFamily;
                font-size: 15px;
                font-weight: 500;
                color: #031838;
                max-width: 95%;
            }
            .card_btn {
                border: 0.813559px solid rgba(3, 24, 56, 0.7);
                border-radius: 5px;
                width: 144px;
                height: 45.56px;
                text-transform: capitalize;
                position: absolute;
                margin-bottom: 3px;
                color: rgba(3, 24, 56, 0.7);
                bottom: 0;
                font-family: $fontFamily;
            }
        }
    }
    
}

@media (min-width: 1199px){
  .blog{
    .card{
        .card_body{
            .zero_heading{
                font-size: 40px;
            }
        }
    }
  }
  .firstBlog{
    .flexClass{
                display: flex;
                .customImg{
                    width: 68%;
                }
                .margin_left{
                    padding-left: 60px;
                }
                .customHeading{
                    font-size: 30px;
                }
                .firstBtn{
                    background-color: #0072ff;
                    color: white !important;
                    font-size: 16px;
                    padding: 18px 26px 18px 22px !important;
                    font-family: $fontFamily;
                }
            }
}
}
@media (max-width: 1199px) {
    .blog {
        .blog_bg {
            opacity: 0.3;
        }
        h4 {
            font-size: 27px;
            max-width: 80%;
        }
        h5 {
            font-size: 16px;
            max-width: 75%;
        }
        .blog_btn {
            font-size: 16px;
        }
        .card {
            .card_body {
                min-height: 190px;
                .one_heading{
                    width: 264px;
                }
                .two_heading{
                    height: 50px;
                    width: 399px;
                }
                 .one_p{
                    max-width: 80%;
                }
                .zero_p{
                    max-width: 83%;
                }
                .zero_heading{
                    width: 316px;
                    font-size: 20px;
                }
                h6{
                height: 49px;
            }
            }
        }
    }
}
@media (max-width: 899px) {
    .blog {
        .blog_bg {
            opacity: 0.2;
        }
        h2 {
            font-size: 36px;
        }
        .card {
            .card_body {
                min-height: 175px;
                .one_p{
                    max-width: 75%;
                }
                .zero_p{
                    max-width: 75%;
                }
                .two_p{
                    max-width: 78%;
                }
                .card_btn {
                    position: static;
                    margin-top: 25px;
                }
            }
        }
    }
}
@media (max-width: 599px) {
    .blog {
        h4 {
            font-size: 26px;
            max-width: 90%;
        }
        h5 {
            max-width: 90%;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 18px;
        }
        .blog_btn {
            width: 160px;
            height: 50px;
            font-size: 16px;
        }
        .card{
            .card_body{
                .two_heading{
                    max-width: 89%;
                    height: auto;
                    margin-bottom: 10px;
                }
                h6{
                    height: auto;
                }
                .zero_heading{
                    max-width: 89%;
                }
            }
        }
    }
}


