.points-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 10px;
  @media screen and (max-width: 992px) {
    column-gap: 15px;
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  .point-content {
    display: flex;
    column-gap: 10px;
    span {
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      font-weight: 400;
      font-style: italic;
      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
      @media screen and (max-width: 428px) {
        font-size: 13px;
      }
    }
  }
  .point-content1 {
    display: flex;
    column-gap: 10px;
    span {
      font-family: "Poppins", sans-serif;
      font-size: 17px;
      line-height: 26px;
      text-align: center;
      font-weight: 400;
      font-style: italic;
      color: white;
      @media screen and (max-width: 992px) {
        font-size: 15px;
      }
      @media screen and (max-width: 428px) {
        font-size: 13px;
      }
    }
  }
}
