@font-face {
    font-family: 'raleway';
    src: url('../src/assets/fonts/Raleway.ttf');
}
html,body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #F5F5F5;
}
.raleway{
    font-family: 'raleway' !important;
}
